.header {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.navBar {
    background-color: var(--mantine-color-background-8);
    border-right: 1px solid var(--mantine-color-gray-3);
}